[data-theme-preview="catppuccin-light"] {
    --fg: #4c4f69;
    --bg: #eff1f5;
}

[data-theme="catppuccin-light"] {
    --border: #dce0e8;
    --fg: #4c4f69;
    --fg-soft: #9ca0b0;
    --bg-selected: #ccd0da;
    --bg-hover: rgba(0, 0, 0, 0.08);
    --bg-soft: color-mix(in srgb, #ccd0da 30%, transparent);
    --waveform: #acb0be;
    --accent: var(--accent-blue);
    --bg-accent: var(--bg-blue);
    --fg-accent: var(--fg-blue);
}

[data-theme="catppuccin-light"] .main,
[data-theme="catppuccin-light"] .sidepanel {
    --bg: #eff1f5;
    --bg-soft: color-mix(in srgb, #ccd0da 20%, transparent);
}

[data-theme="catppuccin-light"] .sidebar {
    --fg: #5c5f77;
    --bg: #e6e9ef;
}

[data-theme="catppuccin-light"] .modal {
    --border: rgba(0, 0, 0, 0.1);
    --bg: rgba(255, 255, 255, 0.2);
    --overlay: color-mix(in srgb, #e6e9ef 40%, transparent);
    --blur: 80px;
    --bg-selected: color-mix(in srgb, #ccd0da 60%, transparent);
    --shadow:
        inset 0 0 0 1px rgba(255, 255, 255, 0.5),
        0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

[data-theme="catppuccin-light"] .tooltip {
    --bg: color-mix(in oklab, var(--fg) 4%, transparent);
}

[data-theme="catppuccin-light"] ::selection {
    color: var(--fg-accent);
    background: var(--bg-accent);
}
