/* Reference: https://catppuccin.com/palette/ */

[data-theme-preview="catppuccin-dark"] {
    --fg: #cad3f5;
    --bg: #24273a;
}

[data-theme="catppuccin-dark"] {
    --border: #181926;
    --fg: #cad3f5;
    --fg-soft: #6e738d;
    --bg-selected: #363a4f;
    --bg-hover: #363a4f;
    --bg-soft: rgba(0, 0, 0, 0.1);
    --waveform: #5b6078;
    --accent: var(--accent-blue);
    --bg-accent: var(--bg-blue);
    --fg-accent: var(--fg-blue);
}

[data-theme="catppuccin-dark"] .main,
[data-theme="catppuccin-dark"] .sidepanel {
    --bg: #24273a;
}

[data-theme="catppuccin-dark"] .sidebar {
    --fg: #b8c0e0;
    --bg: #1e2030;
}

[data-theme="catppuccin-dark"] .modal {
    --blur: 80px;
    --overlay: color-mix(in srgb, #1e2030 40%, transparent);
    --shadow:
        inset 0 0 0 1px rgba(255, 255, 255, 0.08),
        0 20px 25px -5px rgb(0 0 0 / 0.2), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

[data-theme="catppuccin-dark"] .tooltip {
    --bg: color-mix(in oklab, var(--fg) 10%, transparent);
}

[data-theme="catppuccin-dark"] ::selection {
    color: var(--fg-accent);
    background: var(--bg-accent);
}
