[data-theme-preview="dusk-dark"] {
    --fg: oklch(70% 0.04 272);
    --bg: oklch(20.12% 0.0139 278.74);
}

[data-theme="dusk-dark"] {
    --border: rgba(0, 0, 0, 0.4);
    --fg: oklch(70% 0.04 272);
    --fg-soft: oklch(55% 0.04 272);
    --waveform: oklch(36.12% 0.02 278.74);
    --bg-soft: oklch(22.12% 0.02 278.74);
    --bg-selected: oklch(28.12% 0.02 278.74);
    --bg-hover: oklch(30.12% 0.02 278.74);
    --accent: var(--accent-blue);
    --bg-accent: var(--bg-blue);
    --fg-accent: var(--fg-blue);
}

[data-theme="dusk-dark"] .main,
[data-theme="dusk-dark"] .sidebar,
[data-theme="dusk-dark"] .sidepanel {
    --bg: oklch(20.12% 0.0139 278.74);
}

[data-theme="dusk-dark"] .modal {
    --blur: 80px;
    --overlay: oklch(20.12% 0.0139 278.74 / 40%);
    --shadow:
        inset 0 0 0 1px rgba(255, 255, 255, 0.08),
        0 20px 25px -5px rgb(0 0 0 / 0.2), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

[data-theme="dusk-dark"] .tooltip {
    --bg: color-mix(in oklab, var(--fg) 10%, transparent);
}

[data-theme="dusk-dark"] ::selection {
    color: var(--fg-accent);
    background: var(--bg-accent);
}
