[data-theme-preview="dust-light"] {
    --fg: oklch(32% 0.005 286);
    --bg: oklch(96% 0.004 90);
}

[data-theme="dust-light"] {
    --border: rgba(0, 0, 0, 0.08);
    --fg: oklch(32% 0.005 286);
    --fg-soft: oklch(62% 0.005 286);
    --bg-soft: oklch(70% 0.004 90 / 10%);
    --bg-selected: rgba(0, 0, 0, 0.08);
    --bg-hover: rgba(0, 0, 0, 0.08);
    --waveform: oklch(76% 0.005 286);
    --accent: var(--accent-blue);
    --bg-accent: var(--bg-blue);
    --fg-accent: var(--fg-blue);
}

[data-theme="dust-light"] .main,
[data-theme="dust-light"] .sidebar,
[data-theme="dust-light"] .sidepanel {
    --bg: oklch(96% 0.004 90);
}

[data-theme="dust-light"] .modal {
    --bg: oklch(96% 0.004 90 / 60%);
    --blur: 80px;
    --border: rgba(0, 0, 0, 0.1);
    --overlay: oklch(96% 0.004 90 / 40%);
    --shadow:
        inset 0 0 0 1px rgba(255, 255, 255, 0.5),
        0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

[data-theme="dust-light"] .tooltip {
    --bg: color-mix(in oklab, var(--fg) 4%, transparent);
}

[data-theme="dust-light"] ::selection {
    color: var(--fg-accent);
    background: var(--bg-accent);
}
