/* Reference: https://github.com/jdinhify/vscode-theme-gruvbox */

[data-theme-preview="gruvbox-dark"] {
    --fg: #ebdbb2;
    --bg: #282828;
}

[data-theme="gruvbox-dark"] {
    --border: #3c3836;
    --fg: #ebdbb2;
    --fg-soft: #7c6f64;
    --bg-selected: #3c3836;
    --bg-hover: #3c3836;
    --bg-soft: rgba(0, 0, 0, 0.1);
    --waveform: #928374;
    --accent: var(--accent-blue);
    --bg-accent: var(--bg-blue);
    --fg-accent: var(--fg-blue);
}

[data-theme="gruvbox-dark"] .main,
[data-theme="gruvbox-dark"] .sidebar,
[data-theme="gruvbox-dark"] .sidepanel {
    --bg: #282828;
}

[data-theme="gruvbox-dark"] .modal {
    --overlay: color-mix(in srgb, #282828 40%, transparent);
    --blur: 80px;
    --shadow:
        0 0 0 1px rgba(0, 0, 0, 0.3), 0 20px 25px -5px rgb(0 0 0 / 0.2),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
}

[data-theme="gruvbox-dark"] .tooltip {
    --bg: color-mix(in oklab, var(--fg) 10%, transparent);
}

[data-theme="gruvbox-dark"] ::selection {
    color: var(--fg-accent);
    background: var(--bg-accent);
}
