.theme-moonwave-dark {
    --accent: oklch(67% 0.17 262);
    --fg: oklch(72% 0.08 272);
    --waveform: oklch(44% 0.06 272);
    --bg-active: oklch(67% 0.17 262 / 20%);
    --fg-active: oklch(74% 0.2 262);
}

.theme-moonwave-dark .main {
    --bg: oklch(24.65% 0.017 280 / 98%);
    --bg-soft: rgba(0, 0, 0, 0.1);
    --fg-soft: color-mix(in oklab, var(--fg) 50%, var(--bg));
    --bg-selected: color-mix(in oklab, var(--fg) 14%, var(--bg));
    --bg-hover: color-mix(in oklab, var(--fg) 20%, var(--bg));
}

.theme-moonwave-dark .sidebar {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    --bg: oklch(21.65% 0.014 280 / 96%);
    --bg-soft: rgba(0, 0, 0, 0.2);
    --fg-soft: color-mix(in oklab, var(--fg) 60%, var(--bg));
    --bg-selected: color-mix(in oklab, var(--fg) 14%, var(--bg));
}

.theme-moonwave-dark [data-modal] {
    --bg: oklch(26.65% 0.022 280);
    --bg-soft: rgba(0, 0, 0, 0.2);
    --fg-soft: color-mix(in oklab, var(--fg) 60%, var(--bg));
    --bg-selected: color-mix(in oklab, var(--fg) 14%, var(--bg));
    --bg-hover: color-mix(in oklab, var(--fg) 20%, var(--bg));
}

.theme-moonwave-dark [data-modal="dialog"] {
    --overlay: oklch(21.65% 0.014 280 / 40%);
}

.theme-moonwave-dark [data-modal="popover"] {
    --border: rgba(0, 0, 0, 0.3);
}

.theme-moonwave-dark ::selection {
    color: var(--fg-active);
    background: var(--bg-active);
}

.tooltip {
    --bg: color-mix(in oklab, var(--fg) 14%, transparent);
}
