[data-theme="moonwave-light"] {
    --fg-red: oklch(53% 0.2 20);
    --bg-red: oklch(68% 0.12 20 / 20%);
    --accent-red: oklch(62% 0.2 20);
            
    --fg-orange: oklch(52% 0.2 47);
    --bg-orange: oklch(68% 0.14 47 / 18%);
    --accent-orange: oklch(66% 0.18 47);

    --fg-yellow: oklch(52% 0.32 90);
    --bg-yellow: oklch(66% 0.28 90 / 18%);
    --accent-yellow: oklch(74% 0.24 90);
            
    --fg-green: oklch(52% 0.24 133);
    --bg-green: oklch(70% 0.14 133 / 20%);
    --accent-green: oklch(64% 0.2 133);
            
    --fg-teal: oklch(52% 0.24 173);
    --bg-teal: oklch(70% 0.1 173 / 20%);
    --accent-teal: oklch(64% 0.2 173);

    --fg-cyan: oklch(54% 0.2 231);
    --bg-cyan: oklch(72% 0.11 231 / 20%);
    --accent-cyan: oklch(64% 0.2 231);
        
    --fg-blue: oklch(54% 0.20 262);
    --bg-blue: oklch(70% 0.20 262 / 20%);
    --accent-blue: oklch(64% 0.20 262);
        
    --fg-purple: oklch(56% 0.24 284);
    --bg-purple: oklch(66% 0.2 284 / 20%);
    --accent-purple: oklch(64% 0.2 284);
        
    --fg-pink: oklch(54% 0.22 326);
    --bg-pink: oklch(70% 0.14 326 / 20%);
    --accent-pink: oklch(68% 0.2 326);
}

[data-theme="moonwave-light"] {
    --waveform: oklch(82% 0.005 286);
    --fg: oklch(20% 0.005 286);
    --accent: var(--accent-blue);
    --bg-active: var(--bg-blue);
    --fg-active: var(--fg-blue);
}

[data-theme="moonwave-light"] .main {
    --bg: oklch(99% 0.004 90);
    --fg-soft: color-mix(in oklab, var(--fg) 40%, var(--bg));
    --bg-soft: color-mix(in oklab, var(--fg) 2%, var(--bg));
    --bg-selected: color-mix(in oklab, var(--fg) 8%, var(--bg));
    --bg-hover: color-mix(in oklab, var(--fg) 8%, var(--bg));
}

[data-theme="moonwave-light"] .sidebar {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    --bg: oklch(96% 0.004 90 / 90%);
    --fg-soft: color-mix(in oklab, var(--fg) 40%, var(--bg));
    --bg-soft: rgba(0, 0, 0, 0.04);
    --bg-selected: rgba(0, 0, 0, 0.08);
}

[data-theme="moonwave-light"] [data-modal] {
    --bg: oklch(99% 0.004 90);
    --fg-soft: color-mix(in oklab, var(--fg) 40%, var(--bg));
    --bg-soft: color-mix(in oklab, var(--fg) 3%, var(--bg));
    --bg-selected: color-mix(in oklab, var(--fg) 6%, var(--bg));
    --bg-hover: color-mix(in oklab, var(--fg) 6%, var(--bg));
}

[data-theme="moonwave-light"] [data-modal="dialog"] {
    --overlay: oklch(96% 0.004 90 / 50%);
}

[data-theme="moonwave-light"] [data-modal="popover"] {
    --border: rgba(0, 0, 0, 0.1);
}

[data-theme="moonwave-light"] [data-modal="tooltip"] {
    --bg: color-mix(in oklab, var(--fg) 4%, transparent);
}

[data-theme="moonwave-light"] ::selection {
    color: var(--fg-active);
    background: var(--bg-active);
}
