.theme-moonwave-dark {
    --fg-red: oklch(68% 0.16 10);
    --bg-red: oklch(67% 0.1 10 / 18%);
    --accent-red: oklch(62% 0.12 10);
        
    --fg-orange: oklch(70% 0.14 47);
    --bg-orange: oklch(67% 0.1 47 / 20%);
    --accent-orange: oklch(68% 0.08 47);

    --fg-yellow: oklch(74% 0.12 90);
    --bg-yellow: oklch(67% 0.1 90 / 20%);
    --accent-yellow: oklch(68% 0.1 90);
        
    --fg-green: oklch(74% 0.14 133);
    --bg-green: oklch(67% 0.1 133 / 20%);
    --accent-green: oklch(70% 0.1 133);
        
    --fg-teal: oklch(74% 0.11 173);
    --bg-teal: oklch(62% 0.09 173 / 20%);
    --accent-teal: oklch(68% 0.08 173);

    --fg-cyan: oklch(76% 0.11 231);
    --bg-cyan: oklch(70% 0.1 231 / 20%);
    --accent-cyan: oklch(70% 0.1 231);
    
    --fg-blue: oklch(78% 0.2 262);
    --bg-blue: oklch(67% 0.17 262 / 20%);
    --accent-blue: oklch(67% 0.17 262);
        
    --fg-purple: oklch(74% 0.14 284);
    --bg-purple: oklch(67% 0.14 284 / 20%);
    --accent-purple: oklch(70% 0.13 284);
    
    --fg-pink: oklch(74% 0.12 326);
    --bg-pink: oklch(60% 0.09 326 / 20%);
    --accent-pink: oklch(68% 0.1 326);
}

.theme-moonwave-dark {
    --fg: oklch(72% 0.08 272);
    --waveform: oklch(44% 0.06 272);
    --accent: var(--accent-blue);
    --bg-active: var(--bg-blue);
    --fg-active: var(--fg-blue);
    --bg-selected: oklch(40.65% 0.034 276 / 40%);
}

.theme-moonwave-dark .main {
    --bg: oklch(24.65% 0.017 280 / 98%);
    --bg-soft: rgba(0, 0, 0, 0.1);
    --fg-soft: color-mix(in oklab, var(--fg) 50%, var(--bg));
    --bg-hover: color-mix(in oklab, var(--fg) 20%, var(--bg));
}

.theme-moonwave-dark .sidebar {
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    --bg: oklch(21.65% 0.014 280 / 96%);
    --bg-soft: rgba(0, 0, 0, 0.2);
    --fg-soft: color-mix(in oklab, var(--fg) 60%, var(--bg));
}

.theme-moonwave-dark [data-modal] {
    --bg: oklch(26.65% 0.022 280);
    --bg-soft: rgba(0, 0, 0, 0.2);
    --fg-soft: color-mix(in oklab, var(--fg) 60%, var(--bg));
    --bg-hover: color-mix(in oklab, var(--fg) 20%, var(--bg));
}

.theme-moonwave-dark [data-modal="dialog"] {
    --overlay: oklch(21.65% 0.014 280 / 40%);
}

.theme-moonwave-dark [data-modal="popover"] {
    --border: rgba(0, 0, 0, 0.3);
}

.theme-moonwave-dark [data-modal="tooltip"] {
    --bg: color-mix(in oklab, var(--fg) 10%, transparent);
}

.theme-moonwave-dark ::selection {
    color: var(--fg-active);
    background: var(--bg-active);
}
