[data-theme-preview="rose-pine-light"] {
    --fg: #575279;
    --bg: #faf4ed;
}

[data-theme="rose-pine-light"] {
    --border: transparent;
    --fg: #575279;
    --fg-soft: #9893a5;
    --bg-selected: #6e6a8614;
    --bg-hover: #6e6a8614;
    --bg-soft: #f2e9e180;
    --waveform: #9893a5;
    --accent: var(--accent-blue);
    --bg-accent: var(--bg-blue);
    --fg-accent: var(--fg-blue);
}

[data-theme="rose-pine-light"] .main,
[data-theme="rose-pine-light"] .sidepanel {
    --bg: #faf4ed;
}

[data-theme="rose-pine-light"] .sidebar {
    --fg: #797593;
    --bg: #faf4ed;
}

[data-theme="rose-pine-light"] .modal {
    --border: rgba(0, 0, 0, 0.1);
    --overlay: color-mix(in srgb, #faf4ed 40%, transparent);
    --blur: 80px;
    --shadow:
        inset 0 0 0 1px rgba(255, 255, 255, 0.5),
        0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

[data-theme="rose-pine-light"] .tooltip {
    --bg: color-mix(in oklab, var(--fg) 4%, transparent);
}

[data-theme="rose-pine-light"] ::selection {
    color: var(--fg-accent);
    background: var(--bg-accent);
}
