/* Reference: https://github.com/rose-pine/vscode */

[data-theme-preview="rose-pine-dark"] {
    --fg: #e0def4;
    --bg: #191724;
}

[data-theme="rose-pine-dark"] {
    --border: transparent;
    --fg: #e0def4;
    --fg-soft: #6e6a86;
    --bg-selected: #6e6a8633;
    --bg-hover: #6e6a8633;
    --bg-soft: #26233a80;
    --waveform: #6e6a86;
    --accent: var(--accent-blue);
    --bg-accent: var(--bg-blue);
    --fg-accent: var(--fg-blue);
}

[data-theme="rose-pine-dark"] .main,
[data-theme="rose-pine-dark"] .sidebar,
[data-theme="rose-pine-dark"] .sidepanel {
    --bg: #191724;
}

[data-theme="rose-pine-dark"] .sidebar,
[data-theme="rose-pine-dark"] .sidepanel {
    --fg: #908caa;
}

[data-theme="rose-pine-dark"] .main {
    --bg-soft: color-mix(in srgb, #26233a 40%, transparent);
}

[data-theme="rose-pine-dark"] .modal {
    --border: rgba(0, 0, 0, 0.3);
    --overlay: color-mix(in srgb, #191724 40%, transparent);
    --blur: 80px;
    --shadow:
        inset 0 0 0 1px rgba(255, 255, 255, 0.05),
        0 20px 25px -5px rgb(0 0 0 / 0.2), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

[data-theme="rose-pine-dark"] .tooltip {
    --bg: color-mix(in oklab, var(--fg) 10%, transparent);
}

[data-theme="rose-pine-dark"] ::selection {
    color: var(--fg-accent);
    background: var(--bg-accent);
}
