[data-theme-preview="wave-light"] {
    --fg: oklch(20% 0.005 286);
    --bg: oklch(99% 0.004 90);
}

[data-theme="wave-light"] {
    --border: rgba(0, 0, 0, 0.05);
    --fg: oklch(20% 0.005 286);
    --waveform: oklch(82% 0.005 286);
    --accent: var(--accent-blue);
    --bg-accent: var(--bg-blue);
    --fg-accent: var(--fg-blue);
}

[data-theme="wave-light"] .main,
[data-theme="wave-light"] .sidepanel {
    --bg: oklch(99% 0.004 90);
    --fg-soft: color-mix(in oklab, var(--fg) 40%, var(--bg));
    --bg-soft: rgba(0, 0, 0, 0.025);
    --bg-selected: rgba(0, 0, 0, 0.08);
    --bg-hover: rgba(0, 0, 0, 0.08);
}

[data-theme="wave-light"] .sidebar {
    --bg: oklch(96% 0.004 90);
    --fg-soft: color-mix(in oklab, var(--fg) 40%, var(--bg));
    --bg-soft: rgba(0, 0, 0, 0.04);
    --bg-selected: rgba(0, 0, 0, 0.08);
    --bg-hover: rgba(0, 0, 0, 0.08);
}

[data-theme="wave-light"] .modal {
    --bg: oklch(99% 0.004 90 / 60%);
    --blur: 80px;
    --fg-soft: color-mix(in oklab, var(--fg) 40%, var(--bg));
    --bg-soft: rgba(0, 0, 0, 0.03);
    --bg-selected: rgba(0, 0, 0, 0.06);
    --bg-hover: rgba(0, 0, 0, 0.06);
    --overlay: oklch(96% 0.004 90 / 40%);
    --shadow:
        0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

[data-theme="wave-light"] .tooltip {
    --bg: color-mix(in oklab, var(--fg) 4%, transparent);
}

[data-theme="wave-light"] ::selection {
    color: var(--fg-accent);
    background: var(--bg-accent);
}
