body[has-popover=true] #root {
    * {
        pointer-events: none;
    }

    input,
    textarea,
    [contenteditable=true],
    .popover-trigger {
        pointer-events: auto;
    }
}

.modal.closing,
.modal.closed,
.modal.closing *,
.modal.closed * {
    pointer-events: none;
}
