.bars {
    position: relative;
    width: 11px;
    height: 12px;
    overflow: hidden;
    contain: strict;
}

.bar {
    position: absolute;
    bottom: 0px;
    width: 2px;
    height: 12px;
    contain: strict;
}

@keyframes sound-1 {
    0% {
        transform: translateY(9px);
    }
    100% {
        transform: translateY(0px);
    }
}

.bar:nth-child(1) {
    left: 0px;
    animation: sound-1 linear infinite alternate;
    animation-duration: 450ms;
    animation-delay: 200ms;
}

.bar:nth-child(2) {
    left: 3px;
    animation: sound-1 linear infinite alternate;
    animation-duration: 430ms;
}

.bar:nth-child(3) {
    left: 6px;
    animation: sound-1 linear infinite alternate;
    animation-duration: 410ms;
}

.bar:nth-child(4) {
    left: 9px;
    animation: sound-1 linear infinite alternate;
    animation-duration: 400ms;
    animation-delay: 100ms;
}
