@import "tailwindcss";
@import "./themes/colors.css" layer(utilities);
@import "./themes/catppuccin-dark.css" layer(utilities);
@import "./themes/catppuccin-light.css" layer(utilities);
@import "./themes/dusk-dark.css" layer(utilities);
@import "./themes/dust-light.css" layer(utilities);
@import "./themes/gruvbox-dark.css" layer(utilities);
@import "./themes/gruvbox-light.css" layer(utilities);
@import "./themes/kanagawa-dark.css" layer(utilities);
@import "./themes/moon-dark.css" layer(utilities);
@import "./themes/nord-dark.css" layer(utilities);
@import "./themes/rose-pine-dark.css" layer(utilities);
@import "./themes/rose-pine-light.css" layer(utilities);
@import "./themes/tokyo-night-dark.css" layer(utilities);
@import "./themes/tokyo-night-light.css" layer(utilities);
@import "./themes/wave-light.css" layer(utilities);

@theme {
    --text-xxs: 0.625rem;
    --text-xxs--line-height: 0.875rem;
}

body {
    cursor: default;
}

* {
    user-select: none;
    outline: none;
}

.flex {
    min-width: 0;
    min-height: 0;
}

:root {
    --ease-in-out: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.ease-in-out {
    transition-timing-function: var(--ease-in-out);
}

/* See: https://github.com/barvian/number-flow/issues/84 */
number-flow-react::part(left),
number-flow-react::part(right),
number-flow-react::part(left)::after,
number-flow-react::part(right)::after,
number-flow-react::part(symbol) {
    padding: calc(var(--number-flow-mask-height, 0.25em) / 2) 0;
}

/* Modals */
body.has-popover #root {
    * {
        pointer-events: none;
    }

    input,
    textarea,
    [contenteditable="true"],
    .popover-trigger {
        pointer-events: auto;
    }
}
.modal.closing,
.modal.closed,
.modal.closing *,
.modal.closed * {
    pointer-events: none;
}
