@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./themes/moonwave-light.css";
@import "./themes/moonwave-dark.css";

* { user-select: none; outline: none; }
body { cursor: default; }
.flex { min-width: 0; min-height: 0; }
