@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./themes/moonwave-light.css";
@import "./themes/moonwave-dark.css";

* { user-select: none; outline: none; }
body { cursor: default; }
.flex { min-width: 0; min-height: 0; }

/* See: https://github.com/barvian/number-flow/issues/84 */
number-flow-react::part(left),
number-flow-react::part(right),
number-flow-react::part(left)::after,
number-flow-react::part(right)::after,
number-flow-react::part(symbol) {
	padding: calc(var(--number-flow-mask-height, 0.25em) / 2) 0;
}
